
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

    <title>getAll</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand btn btn-success text-white" href="/Students/Index">Home</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item m-2">
                        <a class="nav-link  btn btn-success text-white" aria-current="page" href="/Students/getAll">All</a>
                    </li>
                    <li class="nav-item m-2">
                        <a class="nav-link btn btn-success text-white" href="/Students/Create">Create</a>
                    </li>
                    <li class="nav-item m-2">
                        <a class="nav-link btn btn-success text-white" href="/Students/Update">Update</a>
                    </li>
                    <li class="nav-item m-2">
                        <a class="nav-link btn btn-success text-white " href="/Students/Delete">Delete</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <main>
        <h3>this is students page</h3>
    </main>
    <footer class="text-center bg-light">
        <p>this is footer</p>
    </footer>
</body>
</html>
